<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs')%>

    <body>

        <form action="/property/search" method="post">
            <label for="proper">Enter the Query : </label>
            <input type="text" name="proper" id="proper">
            <input type="submit" value="search">
        </form>

    </body>

</html>